<!-- Include Header -->
<%- include('include/_header') %>
<!-- /Include Header -->

<!-- Main -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/">
          <i class="fas fa-angle-double-left"></i>
          All User
        </a>
      </div>
    </div>

    <div class="form-title text-center">
      <h2 class="text-dark">Update User</h2>
      <span class="text-light">Use the below form to update an account</span>
    </div>

    <!-- Form handling  -->
    <form method="post" id="update_user">
      <div class="new_user">
        <div class="form-group">
          <label for="name" class="text-light">Name</label>
          <input type="hidden" name="id" value="<%= user._id %>" />
          <input
            type="text"
            name="name"
            value="<%= user.name %>"
            placeholder="Mark Stoenis"
          />
        </div>

        <div class="form-group">
          <label for="email" class="text-light">Email</label>
          <input
            type="text"
            name="email"
            value="<%= user.email %>"
            placeholder="example@gmail.com"
          />
        </div>

        <div class="form-group">
          <label for="gender" class="text-light">Gender</label>

          <div class="radio inline">
            <input id="radio" type="radio" name="gender" value="male" <%=
            user.gender === "male" ? "checked" : "" %> />
            <label for="radio" class="radio-label">Male</label>
          </div>

          <div class="radio inline">
            <input id="radio-2" type="radio" name="gender" value="female" <%=
            user.gender === "female" ? "checked" : "" %> />
            <label for="radio-2" class="radio-label">Female</label>
          </div>
        </div>

        <div class="form-group">
          <label for="gender" class="text-light">Status</label>

          <div class="radio inline">
            <input id="radio-3" type="radio" name="status" value="active" <%=
            user.status === "active" ? "checked" : "" %> />
            <label for="radio-3" class="radio-label">Active</label>
          </div>

          <div class="radio inline">
            <input id="radio-4" type="radio" name="status" value="inactive" <%=
            user.status === "inactive" ? "checked" : "" %> />
            <label for="radio-4" class="radio-label">Inactive</label>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn text-dark update">Save</button>
        </div>
      </div>
    </form>
  </div>
</main>
<!-- /Main -->

<!-- Include Footer -->
<%- include('include/_footer') %>
<!-- Include Footer -->
